In [34]:
!pip install pandas 
!pip install numpy as np
import pandas as pd
#import numpy as np

Requirement already satisfied: pandas in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (from pandas) (1.18.3)
Requirement already satisfied: six>=1.5 in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: numpy in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (1.18.3)
Requirement already satisfied: as in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (0.1)
Requirement already satisfied: np in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (1.0.2)

In [30]:
df = pd.read_csv('C:Downloads/201809-citibike-tripdata.csv')

In [36]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [37]:
df.shape

(1877884, 15)

In [55]:
df[['tripduration']].mean().div(60).round(2)

tripduration    16.13
dtype: float64

In [167]:
df_station = df[df['start station id'] == df['end station id']]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
24,622,2018-09-01 00:02:30.1860,2018-09-01 00:12:52.5180,3561.0,37 Ave & 35 St,40.753111,-73.927992,3561.0,37 Ave & 35 St,40.753111,-73.927992,27107,Subscriber,1996,1
51,549,2018-09-01 00:04:04.6480,2018-09-01 00:13:14.3960,433.0,E 13 St & Avenue A,40.729554,-73.980572,433.0,E 13 St & Avenue A,40.729554,-73.980572,34044,Subscriber,1985,2
99,1665,2018-09-01 00:07:07.8150,2018-09-01 00:34:53.6900,3608.0,5 St & 51 Ave,40.742374,-73.956600,3608.0,5 St & 51 Ave,40.742374,-73.956600,34670,Subscriber,1991,1
129,1849,2018-09-01 00:08:36.9170,2018-09-01 00:39:26.1680,217.0,Old Fulton St,40.702772,-73.993836,217.0,Old Fulton St,40.702772,-73.993836,25080,Customer,2000,1
133,1307,2018-09-01 00:08:54.5350,2018-09-01 00:30:42.1350,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,32632,Customer,1987,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877711,6740,2018-09-30 23:46:20.6540,2018-10-01 01:38:41.0820,3622.0,E 128 St & Madison Ave,40.807560,-73.939182,3622.0,E 128 St & Madison Ave,40.807560,-73.939182,19581,Customer,1994,1
1877822,66,2018-09-30 23:54:53.4550,2018-09-30 23:55:59.9090,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,21693,Customer,1985,1
1877837,211,2018-09-30 23:56:22.1400,2018-09-30 23:59:53.9200,504.0,1 Ave & E 16 St,40.732219,-73.981656,504.0,1 Ave & E 16 St,40.732219,-73.981656,29024,Subscriber,1981,1
1877876,2326,2018-09-29 10:51:16.3010,2018-09-29 11:30:02.3410,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,32976,Subscriber,1986,1
1877878,228,2018-09-29 19:29:49.6230,2018-09-29 19:33:37.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,28646,Subscriber,2002,1

In [168]:
df_station.shape

(41364, 15)

In [202]:
array_id = df_station.iloc[:,:1].to_numpy()
array_id_flatten = array_id.flatten()
array_id_flatten
#df_station.iloc[:,:1].values

array([ 622,  549, 1665, ...,  211, 2326,  228], dtype=int64)

In [75]:
df['bikeid'].value_counts()
#df.groupby(['bikeid']).max()

33875    559
33772    549
34357    549
33868    533
33878    532
        ...
34867      1
15834      1
32379      1
34431      1
29726      1
Name: bikeid, Length: 10892, dtype: int64

In [138]:
df.groupby(['bikeid'])[['tripduration']].mean().sort_values(by=['tripduration'])

         tripduration
bikeid
32379       64.000000
25612       72.000000
14761      182.666667
34896      217.200000
22368      224.111111
...               ...
18041   103932.100000
19083   335620.142857
17431   394605.833333
28520   417717.000000
17548   488022.400000

[10892 rows x 1 columns]

In [121]:
df['bikeid'].unique().shape

(10892,)

In [152]:
bool_series = pd.isnull(df['start station id'])
bool_series

0          False
1          False
2          False
3          False
4          False
           ...
1877879    False
1877880    False
1877881    False
1877882    False
1877883    False
Name: start station id, Length: 1877884, dtype: bool

In [156]:
df[bool_series]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
197,1293,2018-09-01 00:12:47.0960,2018-09-01 00:34:20.4550,NaN,NaN,40.842,-73.884,NaN,NaN,40.845,-73.884,34434,Customer,1978,1
1301,758,2018-09-01 01:57:12.9020,2018-09-01 02:09:51.2640,NaN,NaN,40.863,-73.905,NaN,NaN,40.863,-73.902,34493,Customer,1995,2
1653,170,2018-09-01 02:52:40.3760,2018-09-01 02:55:30.8370,NaN,NaN,40.842,-73.884,NaN,NaN,40.845,-73.881,34434,Subscriber,1993,2
1685,181,2018-09-01 02:58:28.7370,2018-09-01 03:01:29.9370,NaN,NaN,40.845,-73.881,NaN,NaN,40.845,-73.881,34434,Subscriber,1993,2
2305,254,2018-09-01 06:24:14.6840,2018-09-01 06:28:28.8260,NaN,NaN,40.848,-73.905,NaN,NaN,40.851,-73.905,34556,Customer,1982,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1872828,985,2018-09-30 20:33:50.8950,2018-09-30 20:50:16.5600,NaN,NaN,40.854,-73.887,NaN,NaN,40.860,-73.890,34902,Subscriber,1985,1
1876165,4010,2018-09-30 22:16:39.6850,2018-09-30 23:23:29.7850,NaN,NaN,40.860,-73.905,NaN,NaN,40.857,-73.905,34464,Customer,2000,2
1876195,3935,2018-09-30 22:17:59.9700,2018-09-30 23:23:35.4570,NaN,NaN,40.860,-73.905,NaN,NaN,40.860,-73.905,34903,Customer,1998,1
1876508,3093,2018-09-30 22:32:01.7630,2018-09-30 23:23:35.4000,NaN,NaN,40.854,-73.905,NaN,NaN,40.857,-73.905,34529,Customer,2001,2
1877330,269,2018-09-30 23:15:29.0290,2018-09-30 23:19:58.5680,NaN,NaN,40.854,-73.911,NaN,NaN,40.854,-73.911,34457,Subscriber,1994,1

In [157]:
df[bool_series].shape

(716, 15)

In [162]:
df.groupby(['usertype'])[['tripduration']].mean().div(60).round(2)

            tripduration
usertype
Customer           33.42
Subscriber         13.33

In [224]:
df_new = df[df['start station id'] != df['end station id']]
df_new

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877879,369,2018-09-30 00:27:25.9840,2018-09-30 00:33:35.7070,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,32976,Subscriber,1985,2
1877880,191,2018-09-30 00:30:30.1850,2018-09-30 00:33:42.1090,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,15595,Subscriber,1985,2
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1

In [228]:
df_new['tripduration'].mean().round(2)

946.92

In [233]:
!pip install geopy
from geopy.distance import vincenty

Requirement already satisfied: geopy in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\upywg\anaconda3\envs\coursera_ds\lib\site-packages (from geopy) (1.50)

In [235]:
df_new[['start station latitude', 'start station longitude', 'end station latitude', 'end station longitude']]

,start station latitude,start station longitude,end station latitude,end station longitude
0,40.732264,-73.998522,40.693261,-73.968896
1,40.693830,-73.990539,40.691029,-73.991834
2,40.761227,-73.960940,40.678724,-73.995991
3,40.713079,-73.998512,40.713342,-74.009355
4,40.736494,-73.997044,40.734011,-74.002939
...,...,...,...,...
1877879,40.662706,-73.956912,40.666563,-73.956741
1877880,40.662706,-73.956912,40.666563,-73.956741
1877881,40.662706,-73.956912,40.712868,-73.956981
1877882,40.662706,-73.956912,40.670777,-73.957680
1877883,40.662706,-73.956912,40.683116,-73.997853

In [ ]:
df_new['distance'] = df_new.apply(lambda x: vincenty((x['start station latitude'], x['start station longitude']),
                                                     (x['end station latitude'], x['end station longitude'])), axis = 1)
df_new['distance'].mean()

In [ ]:
from geopy.distance import geodesic
df_new['distance_km'] = df_new.apply(lambda x: geodesic((x['start station latitude'], x['start station longitude']),
                                                     (x['end station latitude'], x['end station longitude'])), axis = 1)
print(df_new['distance_km'].mean())

In [252]:
from datetime import datetime, date, time, timezone
df['endhour'] = df['stoptime'].apply(lambda y: datetime.datetime.fromtimestamp(
                             time.mktime(datetime.datetime.strptime(x.strip(), "Y&-&m-&d &H:&M:&S.&f").timetouple())).hour)

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [4]:
from datetime import datetime, date, time, timezone
!pip install pandas 
import pandas as pd
df = pd.read_csv('C:Downloads/201809-citibike-tripdata.csv')
df['start_hour'] = df['starttime'].apply(lambda x:   #in df['starttime']:
                                                    #dt = datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f')
                                                    #tme = dt.time())
                                                    datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').timetuple()[4])
df['end_hour'] = df['stoptime'].apply(lambda x:   #in df['starttime']:
                                                    #dt = datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f')
                                                    #tme = dt.time())
                                                    datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').timetuple()[4])
df

Requirement already satisfied: pandas in c:\users\upywg\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\upywg\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_hour,end_hour
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,0,27
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,0,2
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,0,55
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,0,7
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877879,369,2018-09-30 00:27:25.9840,2018-09-30 00:33:35.7070,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,32976,Subscriber,1985,2,27,33
1877880,191,2018-09-30 00:30:30.1850,2018-09-30 00:33:42.1090,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,15595,Subscriber,1985,2,30,33
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1,10,34
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1,20,27
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1,10,32

In [81]:
df_limit = df[(df['start_hour'] >= 18) & (df['start_hour'] <= 20)]
df_limit['count'] = df.groupby(['start station id']).transform('count')
df_limit['count'] = df['start station id'].apply(lambda x: x.duplicated())
df_limit

C:\Users\upywg\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_hour,end_hour,count
279,546,2018-09-01 00:18:00.2950,2018-09-01 00:27:06.8290,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,3094.0,Graham Ave & Withers St,40.716981,-73.944859,32356,Subscriber,1991,1,18,27,4321
280,136,2018-09-01 00:18:01.7240,2018-09-01 00:20:18.4750,301.0,E 2 St & Avenue B,40.722174,-73.983688,150.0,E 2 St & Avenue C,40.720874,-73.980858,34037,Subscriber,1989,2,18,20,4184
281,600,2018-09-01 00:18:20.9840,2018-09-01 00:28:21.3430,3407.0,Union St & Nevins St,40.679098,-73.987655,3404.0,7 St & 5 Ave,40.670492,-73.985417,18658,Subscriber,1994,1,18,28,1479
282,487,2018-09-01 00:18:19.8190,2018-09-01 00:26:27.6490,3701.0,Cliff St & Fulton St,40.708318,-74.005041,319.0,Fulton St & Broadway,40.711066,-74.009447,20340,Customer,1994,2,18,26,3329
283,331,2018-09-01 00:18:22.2850,2018-09-01 00:23:53.8070,223.0,W 13 St & 7 Ave,40.737815,-73.999947,368.0,Carmine St & 6 Ave,40.730386,-74.002150,25610,Subscriber,1990,1,18,23,4562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877394,456,2018-09-30 23:20:41.5840,2018-09-30 23:28:18.5140,503.0,E 20 St & Park Ave,40.738274,-73.987520,432.0,E 7 St & Avenue A,40.726218,-73.983799,33935,Subscriber,1973,1,20,28,4653
1877395,194,2018-09-30 23:20:49.2550,2018-09-30 23:24:04.2390,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,262.0,Washington Park,40.691782,-73.973730,33994,Subscriber,1971,1,20,24,2249
1877396,1636,2018-09-30 23:20:59.3940,2018-09-30 23:48:15.4380,3344.0,Pioneer St & Van Brunt St,40.679043,-74.011169,396.0,Lefferts Pl & Franklin Ave,40.680342,-73.955769,15115,Subscriber,1991,1,20,48,763
1877877,2025,2018-09-29 19:19:13.8790,2018-09-29 19:52:59.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,31521,Subscriber,1963,1,19,52,393
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1,20,27,393

In [41]:
#df_limit.pivot_table(index = ['start station id'], aggfunc = 'start_hour')

AttributeError: 'SeriesGroupBy' object has no attribute 'index'

In [64]:
#df_limit.groupby(['start station id']).id.transform(lambda x : x.duplicated(keep=False).sum())
#df['start station id'] = df['start station id'].astype(str)
#df_limit.columns = df.columns.get_level_values(0)

from datetime import datetime, date, time, timezone
!pip install pandas
import pandas as pd
df = pd.read_csv('C:Downloads/201809-citibike-tripdata.csv')
df['start_hour'] = df['starttime'].apply(lambda x:datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').timetuple()[3])

df_limit = df[(df['start_hour'] >= 18) & (df['start_hour'] <= 20)]
df_limit
#df_limit['count'] = df_limit.groupby(['start station id']).transform(['count'])
#df.groupby('start station id').transform(lambda x : x.duplicated(keep=False).sum())

Requirement already satisfied: pandas in c:\users\upywg\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\upywg\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\upywg\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_hour
41236,566,2018-09-01 18:00:00.7580,2018-09-01 18:09:27.1130,520.0,W 52 St & 5 Ave,40.759923,-73.976485,490.0,8 Ave & W 33 St,40.751551,-73.993934,32037,Subscriber,1980,1,18
41237,1264,2018-09-01 18:00:01.5470,2018-09-01 18:21:05.9990,3562.0,Classon Ave & St Marks Ave,40.676520,-73.959608,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,34074,Subscriber,1989,1,18
41238,1856,2018-09-01 18:00:01.3990,2018-09-01 18:30:58.2270,3641.0,Broadway & W 25 St,40.742869,-73.989186,330.0,Reade St & Broadway,40.714505,-74.005628,26058,Customer,1969,0,18
41239,537,2018-09-01 18:00:02.4180,2018-09-01 18:09:00.0550,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3177.0,W 84 St & Broadway,40.786795,-73.977112,32262,Customer,1969,0,18
41240,800,2018-09-01 18:00:04.4970,2018-09-01 18:13:25.0000,485.0,W 37 St & 5 Ave,40.750380,-73.983390,501.0,FDR Drive & E 35 St,40.744219,-73.971212,32766,Subscriber,1981,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873806,396,2018-09-30 20:59:57.4670,2018-09-30 21:06:33.6200,3147.0,E 85 St & 3 Ave,40.778012,-73.954071,3290.0,E 89 St & York Ave,40.777945,-73.946041,34057,Subscriber,1962,1,20
1875760,390,2018-09-30 18:00:45.0710,2018-09-30 18:07:15.1830,3322.0,12 St & 4 Ave,40.668603,-73.990439,3306.0,10 St & 7 Ave,40.666208,-73.981999,33893,Subscriber,1965,1,18
1875761,508,2018-09-30 20:26:26.7330,2018-09-30 20:34:55.0700,3322.0,12 St & 4 Ave,40.668603,-73.990439,3317.0,10 St & 5 Ave,40.668627,-73.987001,34388,Subscriber,1982,2,20
1877877,2025,2018-09-29 19:19:13.8790,2018-09-29 19:52:59.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,31521,Subscriber,1963,1,19
1877878,228,2018-09-29 19:29:49.6230,2018-09-29 19:33:37.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,28646,Subscriber,2002,1,19

In [42]:
#df_limit.groupby(['bikeid']).agg({'start station id': [sum]})
groups = df_limit.groupby(['start station id'])[['start station id']]
groups.count()#.sort_values(by=['start station id'])

                  start station id
start station id
72.0                           205
79.0                           144
82.0                            44
83.0                            86
119.0                           18
...                            ...
3699.0                         115
3700.0                          22
3701.0                         168
3704.0                           2
3705.0                         233

[768 rows x 1 columns]

In [71]:
array_limit = df_limit.iloc[:,3:4].to_numpy()
array_limit_flatten = array_limit.flatten()

from collections import Counter
b = Counter(array_limit_flatten)
b.most_common(4)

[(519.0, 3181), (426.0, 2701), (402.0, 2680), (459.0, 2605)]

In [98]:
df['end_hour'] = df['stoptime'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S.%f").timetuple()[3])
df_endlimit = df[(df['end_hour'] >= 6) & (df['end_hour'] <= 10)]
df_endlimit

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_hour,end_hour
94,37428,2018-09-01 00:06:45.1410,2018-09-01 10:30:33.2080,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3357.0,W 106 St & Amsterdam Ave,40.800836,-73.966449,26513,Subscriber,1993,2,0,10
754,35777,2018-09-01 00:59:43.8320,2018-09-01 10:56:01.2460,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,308.0,St James Pl & Oliver St,40.713079,-73.998512,30315,Customer,1997,2,0,10
1700,22594,2018-09-01 03:00:25.1080,2018-09-01 09:16:59.8800,325.0,E 19 St & 3 Ave,40.736245,-73.984738,3632.0,E 12 St & Avenue B,40.728049,-73.978812,33173,Subscriber,1995,1,3,9
1721,27836,2018-09-01 03:06:25.3100,2018-09-01 10:50:21.8320,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,486.0,Broadway & W 29 St,40.746201,-73.988557,32858,Customer,1970,1,3,10
1981,10519,2018-09-01 04:22:13.3030,2018-09-01 07:17:32.5320,3693.0,N 11 St & Kent Ave,40.722482,-73.959219,3129.0,Queens Plaza North & Crescent St,40.751102,-73.940737,27683,Customer,1969,0,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873623,40050,2018-09-30 20:55:05.9240,2018-10-01 08:02:36.3580,3467.0,W Broadway & Spring Street,40.724947,-74.001659,229.0,Great Jones St,40.727434,-73.993790,27865,Customer,1969,0,20,8
1877050,32750,2018-09-30 22:58:05.2170,2018-10-01 08:03:56.0590,309.0,Murray St & West St,40.714979,-74.013012,423.0,W 54 St & 9 Ave,40.765849,-73.986905,21468,Customer,1969,0,22,8
1877704,27699,2018-09-30 23:45:29.2450,2018-10-01 07:27:08.5480,3659.0,W 17 St & 9 Ave,40.742949,-74.004137,536.0,1 Ave & E 30 St,40.741444,-73.975361,30661,Customer,1969,0,23,7
1877745,32099,2018-09-30 23:48:45.7760,2018-10-01 08:43:45.4140,2008.0,Little West St & 1 Pl,40.705693,-74.016777,3461.0,Murray St & Greenwich St,40.714852,-74.011223,15899,Customer,1969,0,23,8
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1,8,8

In [93]:
df_endlimit[df_endlimit['end station id'] == 369]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_hour,end_hour
2808,553,2018-09-01 07:25:08.5790,2018-09-01 07:34:22.1930,302.0,Avenue D & E 3 St,40.720828,-73.977932,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,26939,Subscriber,1968,2,7,7
3641,214,2018-09-01 08:17:24.1790,2018-09-01 08:20:58.2280,3474.0,6 Ave & Spring St,40.725256,-74.004121,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,32606,Subscriber,1987,1,8,8
6113,476,2018-09-01 09:38:27.2800,2018-09-01 09:46:23.3540,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,34258,Subscriber,1981,2,9,9
6120,470,2018-09-01 09:38:32.5030,2018-09-01 09:46:23.1650,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,21149,Subscriber,1981,1,9,9
7575,321,2018-09-01 10:09:58.1100,2018-09-01 10:15:19.7120,3684.0,W 12 St & W 4 St,40.737561,-74.003983,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,31631,Subscriber,1990,1,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1817871,496,2018-09-30 09:26:21.2380,2018-09-30 09:34:37.4850,403.0,E 2 St & 2 Ave,40.725029,-73.990697,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,14611,Subscriber,1985,2,9,9
1818192,466,2018-09-30 09:34:16.8500,2018-09-30 09:42:03.0130,297.0,E 15 St & 3 Ave,40.734232,-73.986923,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,27757,Subscriber,1957,2,9,9
1818692,283,2018-09-30 09:45:58.2360,2018-09-30 09:50:41.6340,128.0,MacDougal St & Prince St,40.727103,-74.002971,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,18976,Subscriber,1991,2,9,9
1820449,136,2018-09-30 10:20:03.2790,2018-09-30 10:22:19.7010,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,20010,Subscriber,1966,2,10,10
1820787,219,2018-09-30 10:25:54.9850,2018-09-30 10:29:34.1380,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,20117,Subscriber,1966,2,10,10